
body {
    background: linear-gradient(to right, #e1f5bc, #f7f7f1);
    min-height: 100vh;
    margin: 0;
    padding: 0;
}
.header {
    background-color: rgba(226, 78, 139, 0.884);
    padding: 1rem 0;
}
.container {
    background-color: rgba(241, 161, 215, 0.712);
    padding: 2rem;
    border-radius: 10px;
    margin-top: 2rem;
}
footer {
    background-color: rgba(250, 26, 75, 0.9);
    padding: 1rem 0;
    margin-top: 2rem;
    color: #666;
}