
body {
    background: linear-gradient(to right, #c502c5a6, #ddaef3a1);
    min-height: 100vh;
    margin: 0;
    padding: 0;
}
.header {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 1rem 0;
}
.container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 2rem;
    border-radius: 10px;
    margin-top: 2rem;
}
footer {
    background-color: rgba(73, 0, 107, 0.9);
    padding: 1rem 0;
    margin-top: 2rem;
    color: #666;
}
    